
    $vt-maroon: #861f41;
    $vt-burnt-orange: #e87722;
    $vt-hokie-stone: #75787b;
    $vt-white: #ffffff;
    $vt-burnt-orange-web: #c64600;
    $vt-purple: #642667;
    $vt-pink: #ce0058;
    $vt-sunset: #ed8b00;
    $vt-yellow: #f7ea48;
    $vt-teal: #508590;
    $vt-turquise: #2cd5c4;
    $vt-grey: #d7d2cb;
    $vt-smoke: #e5e1e6;
    $vt-blue: #003c71;
    $vt-black: #000000;
* {
    box-sizing: border-box;
  }
  :root {
    //--chicago-maroon: #861f41;
    --vt-maroon: #861f41;
    --vt-burntOrange: #e87722;
    --vt-hokieStone: #75787b;
    --vt-white: #ffffff;
    --vt-burntOrangeWeb: #c64600;
    --vt-purple: #642667;
    --vt-pink: #ce0058;
    --vt-sunset: #ed8b00;
    --vt-yellow: #f7ea48;
    --vt-teal: #508590;
    --vt-turquise: #2cd5c4;
    --vt-grey: #d7d2cb;
    --vt-smoke: #e5e1e6;
    --vt-blue: #003c71;
    --vt-black: #000000;

    --a11yex-pale-blue: #aac5d4;
    --a11yex-blue: #003767;
  }
  body {
    background: #9d987b;
    padding: 5px 0;
    height: 100vh;
    margin: 0;
    @media screen and (max-width: 575px) {
      padding: 0;
    }
  }

  a {
    color: var(--vt-maroon);//#861f41
  }
  #reach {
    width: 100%;
  }
  .wrapper {
    width: 80%;
    margin: auto;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
  .content {
    text-align: left;
  }
  .page-wrap {
    background: var(--bs-white);
    height: calc(100vh - 10px);
    box-shadow: 0 0 3px rgba(var(--bs-dark), 0.33);
  
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
    grid-template-rows: min-content min-content 1fr min-content;
  
    > * {
      padding: 1rem;
    }
  
    @media (max-width: 992px) {
      grid-template-columns: 100%;
      grid-template-rows: auto;
      > * {
        grid-column: 1 / -1 !important;
        grid-row: auto !important;
      }
    }
  }
  
  .page-header {
    grid-column: 1 / -1;
    background: var(--vt-maroon);//#861f41;
    border: 5px solid var(--bs-white);
    border-bottom: none;
    // text-align: left;
    a {
      color: var(--bs-white);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .form-control:focus, .form-select:focus, .form-check-input:focus {
      outline: .2rem dotted var(--vt-white);
      border-color: var(--vt-burntOrangeWeb);
      box-shadow: 0 0 0 0.25rem rgb(255 225 255 / 25%);
    }
    .btn-light:focus {
      outline: .15rem dotted var(--vt-white);
      border-color: var(--vt-burntOrangeWeb);
      box-shadow: 0 0 0 0.25rem rgb(255 225 255 / 25%);
    }
  }
  .page-header img {
    height: 3em;
  }
  
  .page-sidebar-head {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #45677B;
    border: 5px solid var(--bs-white);
    border-bottom: none;
    border-right: none;
    @media (max-width: 992px) {
      border-right: 5px solid var(--bs-white);
    }
  }
  
  .page-sidebar {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding:0;
    background:  var(--a11yex-pale-blue);
    border: 5px solid var(--bs-white);
    border-bottom: none;
    border-right: none;
    @media (max-width: 600px) {
      border-right: 5px solid var(--bs-white);
    }
  }
  .page-nav {
    grid-column: 2 / 3;
    background:  var(--a11yex-pale-blue);
    border: 5px solid var(--bs-white);
    border-bottom: none;
  }
  .page-main {
    grid-column: 2 / 3;
    background: #f5f5ec;
    border: 5px solid var(--bs-white);
    border-bottom: none;
  }
  .page-footer {
    grid-column: 1 / -1;
    background: #212529;
    color: var(--bs-white);
    border: 5px solid var(--bs-white);
    text-align: center;
  }
  
  details p {
    text-transform: none;
    text-align: left;
  }
  
  
  .intLink {
    cursor: pointer;
  }
  
  img.intLink {
    border: 0;
  }
  
  #toolBar1 select {
    font-size: 10px;
  }
  
  #textBox {
    width: 100%;
    height: 200px;
    border: 1px #d1d1d1 solid;
    padding: 12px;
    overflow: scroll;
    background-color: var(--bs-white);
  }
  [name="first"], [name="last"] {
    width: 100%
  }
  
  #textBox #sourceText {
    padding: 0;
    margin: 0;
    min-width: 498px;
    min-height: 200px;
  }
  
  #editMode label {
    cursor: pointer;
  }
  
  
  th {
    text-align: left;
  }
  
  td,
  th {
    padding-right: 5px;
  }
  
  .invalid {
    border: 1px solid var(--bs-danger);//red;
  }
  
  .format {
    background-color: yellow;
  }
  
  .toolbar select:focus {
    outline: none;
  }
  
  #languages {
    position: absolute;
    right: 0;
  }
  
  #languages ul {
    display: inline;
    padding: 0;
  }
  
  #languages li {
    display: inline;
    padding: 0 .5em 0 .5em;
  }
  
  
  .page-sidebar .nav-link {
    color: var(--a11yex-blue);
    border-bottom: 1px solid var(--bs-white);
  }
  
  .page-sidebar .nav-link.active {
    border-left: .5rem solid #45677B;
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .nav-link:hover {
    text-decoration: underline;
    background-color: #bad9e9;
  }
  .editor {
    background-color: #f8f8f8;
    border: 1px solid #d1d1d1;
  }
  .toolbar {
    padding: .25em;
  }
  .form-control, .form-select, .form-check-input, .card {
      border-color: var(--bs-gray);
  }
  .was-validated :invalid~.invalid-feedback {
    display: block;
  }
  .form-check-input:focus, .form-control:focus, .form-select:focus {
    outline: .15rem dotted var(--bs-primary);
  }
  .was-validated .form-check-input:invalid:focus, .was-validated .form-control:invalid:focus, .was-validated .form-select:invalid:focus {
    outline-color: var(--bs-danger);
  }
  .was-validated .form-check-input:valid:focus, .was-validated .form-control:valid:focus, .was-validated .form-select:valid:focus {
    outline-color: var(--bs-success);
  }
  .btn-dark:focus {
    outline: .15rem dotted var(--bs-dark);
  }
  span.form-label {
    display: inline-block;
  }
  @media (max-width:992px) {
    body {
      padding: 0;
    }
    .page-sidebar {
      border-right: 5px solid var(--bs-white);
    }
  }