#mygrid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.page-header {
    grid-column: 1 / 3;
}
/* .page-sidebar-head {
    grid-column: 2
} */
.page-sidebar {
    
}
@media screen and (max-width: 600px) {
    #mygrid {
        grid-template-columns: 1fr;
    }
}